.card {
    width: 100%;
    max-width: 370px;
    gap: 10px;
    text-align: center;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    padding: 40px 35px;
    background-color: #093a5b;
}

.card img {
    margin-bottom: 10px;
    width: 100%;
    max-width: 120px;
}

.card div {
    border-radius: 20px 0 0;
}

.card div:nth-child(2) {
    border-radius: 20px;
    padding: 20px 10px;
}


