.add {
    background-color: #093756;
    margin-top: 2rem !important;
    padding: 2rem 2rem 7rem !important;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.add h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}