.dash {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 5rem 2rem 5rem !important;

    position: relative;
    margin-bottom: 3rem !important;
}

.dash svg {
    position: absolute;
    width: 100%;
}

.dash h1 {
    font-size: 3rem;
    color: white;
    font-weight: bolder;
}

.dash div {
    max-width: 700px;
}

.dash p {
    font-size: 1.2rem;
}